<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.juris710.hackathon2019summer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cash_back.SearchCashlessServiceActivity"/>
        <activity android:name=".cash_back.SearchCashbackActivity"/>
        <activity android:name=".cash_back.SearchCreditCardActivity" />
        <activity android:name=".cash_back.CashBackActivity" />
        <activity android:name=".vat_relief.VATReliefActivity" />
        <activity android:name=".vat_relief.TaxRateImageActivity" />
        <activity android:name=".vat_relief.EatOutActivity" />
        <activity android:name=".vat_relief.AlcoholActivity" />
        <activity android:name=".vat_relief.WaterActivity" />
        <activity android:name=".vat_relief.BeverageActivity" />
        <activity android:name=".vat_relief.MealActivity" />
        <activity android:name=".vat_relief.NewsPaperActivity" />
        <activity android:name=".vat_relief.ResultActivity" />
        <activity android:name=".vat_relief.CheckTaxRateMasterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>